/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire viewport */
    background-position: center top;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    background-attachment: fixed; /* Fix the background image in place */
}

@media screen and (max-width: 768px) {
    body {
        background-size: contain; /* Adjust background size for smaller screens */
    }
}

.wrapper {
    width: 60%;
    
    margin: 0 auto;
    color: black;
    background: rgba(255, 255, 255, 0.7);
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    background-color: rgba(0, 0, 0, 0.2);
}

.clearfix:after {
    clear: both;
}

.main_header {
    width: 100%;
    margin: 0 auto;
    background: red;
}

.main_header #logo {
    float: left;
}

.main_header #logo a {
    text-transform: uppercase;
    font-weight: 700;
    font-family: fantasy;
    letter-spacing: 1px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.main_header #buttons {
    float: right;
}

.main_header #buttons a {
    line-height: 60px;
    background: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 0.2em;
    color: red;
    text-decoration: none;
    font-weight: 100;
}

/* Post styles */
#posts {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 5%;
    border-radius: 0.5em;
}

#posts .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#posts .post .title a {
    color: #14373d;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25rem;
}

#posts .post .date {
    margin-top: 0.25rem;
    font-size: 0.7rem;
    color: #14373d;
}

/* Create post section styles */
#post_content {
    background: rgba(0, 0, 0, 0.1);
    
    border-radius: 0.5em;
}

#post_content h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
}

#post_content p {
    color: #010305;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
}

#post_content textarea {
    width: 100%;
    min-height: 200px;
    border: 1px solid #d1d1d1;
    border-radius: 0.2em;
    
    color: black;
}

#post_content input[type="submit"] {
    background: #397CAC;
    border: none;
    color: black;
    font-weight: 100;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

#post_tag_ids {
    color: black;
}

/* Custom form styles */
.post-form .form-control {
    width: 100%;
    padding: 0rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .post-form .btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .post-form .btn:hover {
    background-color: #0056b3;
  }
  
